html, body {
    max-width: 100%;
    overflow-x: hidden;    
}

 body{
    margin:0px;
    padding:0px;
    background: #262626 ;
    overflow-x: hidden;
    font-size: 17px;
 }

#navbar{
  padding-top: 1.5vh;

}
video {
  width:100vw;
  height:100%;
  object-fit:cover;
  z-index:-1;
  position:absolute;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}





#clash{
  height: 78vh;
  margin-top: 4.8vh;
  border: 3px #30E7ED solid;
  
  overflow-y: auto;
  margin-left: 1vw;
  
}
#clashtext{
  width: 15vw;
  border-radius: 10px;
  margin-left: 0.75vw;

}


p{
  
  text-align: left; 
}
#sponsers{
  height: 78vh;
  margin-top: 4.8vh;
  border: 3px #30E7ED solid;
  
  overflow-y: auto;
  margin-left: 2.7vw;  
}
#sponsortitle{
  height: 7vh;
  color: #30E7ED ;
  border-bottom:2px #30E7ED solid;
  margin-top: 1.5vh; 
   padding-top: 0vh;
  font-size: 1.3rem;

}
#clashtitle{
  height: 7vh;
  color: #30E7ED;
  border-bottom:2px #30E7ED solid;
  margin-top: 1.5vh; 
  padding-top: 0vh;
  font-size: 1.3rem;

}
#maincol{
  
  margin-top: 4.8vh;
  width: 60vw;
  margin-left: 1vw;
}

#content {position:relative;}
#content:before, #content:after, #content>:first-child:before, #content>:first-child:after {
  position:absolute;
  width:80px; height: 80px;
  border-color:#0dcaf0; /* or whatever colour */
  border-style:solid; /* or whatever style */
  content: ' ';
}
#content:before {top:0;left:0;border-width: 1px 0 0 1px}
#content:after {top:0;right:0;border-width: 1px 1px 0 0}
#content>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
#content>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}

kbd{
  font-size: x-large;
}

.kbd-inverted{
  color: black;
  background-color: white;
}
#user{
  width: 12vw;
}

@keyframes fadeIn {
  from { opacity: 0 }
}

.mdi-record::before {
  color: red !important;
  animation: fadeIn 0.5s infinite alternate
} 
@media (max-width: 768px) {
  
  
  .fixed-bottom {
    position: relative;
  } 
}
@media (min-width: 768px) {
  
  html,body{
    overflow-y: hidden;
  }
  

}
@media (max-width: 426px){
 #maincol{
    width: 95vw;
    margin-left: 5.1vw;
  }
  #clash{
  height: 52vh;
  margin-top: 3.5vh;
  border: 3px #30E7ED solid;
  overflow-y: auto;
  margin-left: 17.6vw;  
}
#clashtext{
  width: 54vw;
  border-radius: 10px;
  margin-left: 7.5vw;
}


#sponsers{
  height: 52vh;
  margin-top: 5vh;
  border: 3px #30E7ED solid;
  
  overflow-y: auto;
  margin-left: 17.6vw;  
}
#r{
padding-left: 9vw;
}
#rec{
  padding-left: 7vw;
}


video {
  width:100vw;
  height:220vh;
  object-fit:cover;
  z-index:-1;
  position:absolute;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}
footer{
  margin-top: 6vh;
}
#content {position:relative;}
#content:before, #content:after, #content>:first-child:before, #content>:first-child:after {
  position:absolute;
  width:60px; height: 60px;
  border-color:#0dcaf0; /* or whatever colour */
  border-style:solid; /* or whatever style */
  content: ' ';
}
#content:before {top:0;left:0;border-width: 1px 0 0 1px}
#content:after {top:0;right:0;border-width: 1px 1px 0 0}
#content>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
#content>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}

kbd{
  font-size: large;
}

}
@media (max-width: 361px){
#r{
display: none;
height: 0px;
width: 0px;
}
#rec{
width: 32vw;
margin-left: 6vw;
padding-left: 5vw;
}
}

@media (max-width: 321px){

#maincol{
  width: 102vw;
  margin-left: 2.5vw;
}
#r{
padding-left:10vw; 
}

#rec{
width: 35vw;
margin-left: 6vw;
padding-left: 9vw;
}
}
@media (min-width:768px )and (max-width: 1024px){
  #battery{
margin-left: -1vw;
padding-left: 0vw;
  }
  #r{
    margin-left: -5vw;
    padding-left: 8vw;
    width: 17vw;
  }
  #rec{
margin-left: -1vw;
    padding-left: 1vw;
    width: 13vw;
  }
}
@media (min-width:1024px) and (max-width: 1099px){
#sponsers{
margin-top: 6.2vh;
}
#clash{
margin-top: 6.2vh;
}
#maincol{
margin-top: 6.2vh;
}
#rec{
  width: 15vw;
  padding-left: 1vw;
}
}
@media (min-width:1100px){
#sponsers{
margin-top: 4.8vh;
}
#clash{
margin-top: 4.8vh;
}
#maincol{
margin-top: 4.8vh;
}
}
@media (min-width:1200px){
#sponsers{
margin-top: 4.8vh;
}
#clash{
margin-top: 4.8vh;
}
#maincol{
margin-top: 4.8vh;
}
}
@media (min-width:1400px){
#sponsers{
margin-top: 6vh;
}
#clash{
margin-top: 6vh;
}
#maincol{
margin-top: 6vh;
}
}
@media (min-width:1530px){
#u{
  display: block;
  
}
video {
  width:100vw;
  height:100%;
  object-fit:cover;
  z-index:-1;
  position:absolute;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}
}
@media (min-width:1600px){
#sponsers{
margin-top: 7vh;
}
#clash{
margin-top: 7vh;
}
#maincol{
margin-top: 7vh;
}
#n{
  display: block;
  font-size: 2rem;
}
#u{
  display: block;
  font-size: 2rem;
}
.number{
  font-size: 2rem;
}
}
@media (min-width:1920px){



}
